.heading {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold; 
  margin-top: 5rem;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
}

.filters button {
  padding: 8px 16px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.filters button.active {
  background:  #2EB2D3;
  color: white;
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 10px #2EB2D3;
}

.project-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 6px;
}


.show-more {
  display: flex;
  justify-content: center;
}

.show-more button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.85rem; 
  cursor: pointer;
  border-radius: 18px; 
  padding: 8px 14px; 
  background: #2EB2D3;
  box-shadow: 0px 3px 6px #409eb6; 
  transition: 0.3s ease;
  margin-top: 5rem; 
}

.show-more button:hover {
  color: black;
}

.project-card h3 {
  margin: 10px 0 5px;
  font-size: 20px;
  color: #2EB2D3;
}

.project-card .category {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.project-card .description {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.github-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #2EB2D3;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

.github-link:hover {
  color: #000;
}

.github-link i {
  font-size: 18px;
}
