
.projects-container {
  margin-left: 100px;
  margin-top: 50px;
}

.projects-container .heading {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.project-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-tab .tab-btn {
  color: black;
  padding: 1rem 1.25rem 0.875rem;
  cursor: pointer;
  font-size: 15px;
  border: none;
  transition: color 0.3s ease;
}

.project-tab .tab-btn.active-tab {
  color: #2EB2D3;
  font-weight: bold;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.project-item {
  border: 1px solid #2EB2D3;
  border-radius: 5px;
  width: 350px;
  overflow: hidden;
  background: transparent;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s;
  padding: 20px;
  margin-top: 10px;
  position: relative;
}

.project-item:hover {
  transform: scale(1.1);
}

.project-item a {
  text-decoration: none;
}

.project-item .project-title {
  text-decoration: none;
  color: #2EB2D3;
  font-size: 15px;
}

.project-item .project-title:hover {
  color: black;
}

.project-img img {
  width: 100%;
  height: auto;
}

.project-item-icon-box {
  background: hsl(0, 0%, 22%);
  color: #2EB2D3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-item:hover .project-item-icon-box {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.projects-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  flex: 1;
}

.pagination-icon {
  background: none;
  border: none;
  font-size: 3rem; /* Larger icon size */
  cursor: pointer;
  color: #3062f3;
  padding: 0.5rem;
  transition: color 0.3s;
}



.pagination-icon:disabled {
  color: #ccc;
  cursor: default;
}

.pagination-icon:hover:not(:disabled) {
  color: #66d2cc;
}

/* Animation */
.project-list.slide-animation {
  animation: slideFade 0.3s ease forwards;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


