.footer {
  min-height: auto;
  padding-top: 0;
  background:   var(--bg-color);
  border-top: 1px solid var(--primary);
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--text-primary);
  padding-bottom: 1rem;
  font-weight: normal;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--text-primary);
  padding: 0.7rem 0;
  text-transform: none;
}

.footer .box-container .box p i {
  padding-right: 1rem;
  color: var(--text-primary);
}

.footer .box-container .box a {
  font-size: 1.5rem;
  color: var(--text-primary);
  padding: 0.3rem 0;
  display: block;
  text-decoration: none;
}

.footer .box-container .box a:hover {
  color: var(--primary);
}

.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: var(--primary);
  color: #02094b;
  border: none;
}

.footer-bottom{
  text-align: center;
  padding-top: 2px;
}

.copyright{
  margin: 0;
  color: var(--category);
  font-size: 15px;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}


