

.footer {
  min-height: auto;
  padding-top: 0;
  background:  #366a86;
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: white;
  padding: 0.7rem 0;
  text-transform: none;
}

.footer .box-container .box p i {
  padding-right: 1rem;
  color: black;
}

.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
  text-decoration: none;
}

.footer .box-container .box a:hover {
  color: black;
}

.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}

.footer-bottom{
  text-align: center;
  border-top: 1px solid #444444;
  padding-top: 10px;
}

.copyright{
  margin: 0;
  color: #bdbcbc;
  font-size: 15px;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}


.footer {
  background: var(--footer-bg);
}

.footer .box-container .box h3,
.footer .box-container .box p {
  color: var(--footer-text);
}

.footer .box-container .box p i {
  color: var(--footer-icon);
}

.footer .box-container .box a {
  color: var(--footer-link);
}

.footer .box-container .box a:hover {
  color: var(--footer-link-hover);
}
